{{#each items}}
<tr>
    <th class="text-center align-middle">{{this.id}}</th>
    <td class="text-center align-middle">{{this.name}}</td>
    <td class="text-center align-middle">{{this.stock}}</td>
    <td class="text-center align-middle">
        <button type="button" class="btn btn-info" data-id={{this.id}} data-stock={{this.stock}}
            data-name="{{this.name}}" onclick="showStockModal()">Szerkesztés</button>
    </td>
</tr>
{{/each}}

<div class="modal fade" id="stock_modal" tabindex="-1" role="dialog" aria-labelledby="stock_change_title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="inventory_edit_title">Új darabszám <span id="stock_item_name">:</span></h5>
            </div>
            <div class="modal-body">
                <form id="edit_stock_form" method="POST" action="">
                    <div class="form-group">
                        <label for="categoryName" class="col-form-label">Daramszám</label>
                        <input type="text" class="form-control" id="stock_quantity_input" name="stock_quantity">
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
                        <button type="submit" class="btn btn-primary">Szerkesztés</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function showStockModal() {
        $('#stock_modal').modal();
        const stockQuantityInput = document.querySelector('#stock_quantity_input');
        const stockItemName = document.querySelector('#stock_item_name');
        const editStockFrom = document.querySelector('#edit_stock_form');

        editStockFrom.action = `./inventory/${event.target.dataset.id}`;

        stockQuantityInput.value = event.target.dataset.stock;
        stockItemName.innerHTML = event.target.dataset.name;
    }
</script>