{{#each items}}
<tr>
    <th class="text-center align-middle">{{this.id}}</th>
    <td class="text-center align-middle">{{this.name}}</td>
    <td class="text-center align-middle">{{this.category}}</td>
    <td class="text-center align-middle">
        <button type="button" class="btn btn-info" data-id="{{this.id}}" data-category="{{this.category_id}}"
            data-name="{{this.name}}" data-desc="{{this.description}}" onclick="showEditModal()">Szerkesztés</button>
        <button type="button" class="btn btn-danger" data-id={{this.id}} data-name="{{this.name}}"
            onclick="showDeleteModal()">Törlés</button>
    </td>
</tr>
{{/each}}

<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Termék szerkesztése</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editProductForm" method="POST" action="./products">
                    <div class="form-group">
                        <label for="productName" class="col-form-label">Megnevezés</label>
                        <input type="text" class="form-control" id="productName" name="product_name">
                    </div>
                    <div class="form-group">
                        <label for="productCategory" class="col-form-label">Csoport:</label>
                        <select class="custom-select" id="productCategory" name="product_cat" multiple>
                            <option selected>--- Válassz Csoportot ---</option>
                            {{#each category}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="productDesc" class="col-form-label">Leírás</label>
                        <textarea class="form-control" id="productDesc" name="product_desc"></textarea>
                    </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
                <button type="submit" class="btn btn-primary">Szerkesztés</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel">Termék törlése</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    Valóban törli: <span id="deleteProductName"></span> ?
                </div>
                <div class="modal-footer justify-content-between">
                    <button class="btn btn-secondary" data-dismiss="modal">Mégse</button>
                    <button class="btn btn-danger" id="deleteProductButton">Törlés</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showEditModal() {
            const productCategoryInput = document.querySelector('#productCategory');
            const productNameInput = document.querySelector('#productName');
            const productDescInput = document.querySelector('#productDesc');
            const editProductForm = document.querySelector('#editProductForm');
            editProductForm.action = `./products/${event.target.dataset.id}`;

            $('#editProductModal').modal();
            const categories = event.target.dataset.category.split(',');
            productNameInput.value = event.target.dataset.name;
            for (let i = 0; i < productCategoryInput.options.length; i++) {
                    productCategoryInput.options[i].selected = categories.indexOf(productCategoryInput.options[i].value) >= 0;
            };
            productDescInput.value = event.target.dataset.desc;
        }

        function showDeleteModal() {
            const productNameSpan = document.querySelector('#deleteProductName');
            const deleteProductButton = document.querySelector('#deleteProductButton');
            deleteProductButton.setAttribute("onClick", `deleteProduct(${event.target.dataset.id})`);
            $('#deleteProductModal').modal();

            productNameSpan.innerText = event.target.dataset.name;
        }

        function deleteProduct(id) {
            console.log("deleting product")
            fetch(`/products/${id}`, { method: 'DELETE', redirect: 'follow' }).then(response => window.location = response.url)
        }

    </script>